body {
  margin: 0;
  padding: 0;
  background-color: #001C30;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
  
.header{
  background-color: #176B87;
  border-radius: 10px;
  color: #fff;
  margin-top: 5px;
  padding: 15px;
  text-align: center;
}
  
.title{
  font-size: 36px;
  font-weight: bold;;
}

.t2{
  background-color: #64CCC5;
  padding: 20px;
  border-radius: 20px;
  margin: 25px;
}

#demo{
  color: white;
}

.prayer{
  color: white;
  font-size: 30px;

}
  
.table{
  background-color: #176B87;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}
table{
  width: 100%;
  padding: 20px;
}

table thead td{
  background-color: #FF3544;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
  
table td{
  padding: 15px;
  background-color: #DAFFFB;
  border-radius: 5px;
}
footer{
  display: flex;
  background-color: #176B87;
  color: white;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

nav{
	position: relative;
	width: 590px;
	background: #64CCC5;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
	font-size: 15px;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #FF3544;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
}
nav a:nth-child(2){
	width: 110px;
}
nav a:nth-child(2):hover~.animation{
	width: 110px;
	left: 100px;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
	width: 100px;
	left: 210px;
}
nav a:nth-child(4){
	width: 160px;
}
nav a:nth-child(4):hover~.animation{
	width: 160px;
	left: 310px;
}
nav a:nth-child(5){
	width: 120px;
}
nav a:nth-child(5):hover~.animation{
	width: 120px;
	left: 470px;
}